body{
   font-family: 'Oswald', sans-serif;
}
.container{
    max-width:1175px;
    margin: 0 auto;
}

.Sayfagiris-header{
    height: 120px;
    background-color: rgba(255,0,0,0.15);
    position: absolute;
    top: 0;
    width: 100%;
}
.col{
    width: 50%;
    float: left;
}

.logo{
    margin-top: 30px;
}

nav{
    float: right
}

.Sayfagiris-menu{
    margin-top: 50px;
}

.Sayfagiris-menu ul{
    margin: 0;
    padding: 0;
}

.Sayfagiris-menu li{
    display: inline-block;
    margin-right: 50px;
}

.Sayfagiris-menu li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}

.Sayfagiris-menu li a:hover {
    color: black;
}

#Sayfagiris{
    background-image: url(../Foto/Anafoto-1.jpg);
    background-size: cover;
    min-height: 800px;
    padding: 315px 100px 100px 750px; 
}

.container form h4{
    color:black;
    font-size: 20px; 
    font-weight: 200;
}

form{
    width: 100%;
    margin: 0 auto;
}

form input{
    width: 40%;
    border: none;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.Sayfagiris-btn{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #009640;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 5px;
}



footer{
    position:absolute;
    width:100%;
    background-color: #282828;
    height: 120px;
    
}

.col1{
    width: 33.33%;
    float: left;
    padding: 15px 140px 15px 140px;
}

.col2{
    width: 33.33%;
    float: left;
    padding: 15px 140px 15px 140px;
}

.col3{
    width: 33.33%;
    float: left;
    padding: 15px 140px 15px 140px;
}